<h3>Hello welcome to the SMIL application</h3>
<div class="row">
  <form action="/smil" method="post" class="p-3 mx-auto rounded shadow col-md-6" enctype="multipart/form-data">
    <section id="step-one" class="mb-2">
      <div class="mb-3 form-group">
        <p class="mb-1">Select the content type you want to add</p>
        <label class="py-2 form-check-label d-block">
          <input type="radio" class="form-radio-input" name="contentType" value="text" checked>
          Text
        </label>
        <label class="py-2 form-check-label d-block">
          <input type="radio" class="form-radio-input" name="contentType" value="image" checked>
          Image url
        </label>
        <label class="py-2 form-check-label d-block">
          <input type="radio" class="form-radio-input" name="contentType" value="imageFile" checked>
          Image from local machine
        </label>
        <label class="py-2 form-check-label d-block">
          <input type="radio" class="form-radio-input" name="contentType" value="video" checked>
          Video url
        </label>
        <label class="py-2 form-check-label d-block">
          <input type="radio" class="form-radio-input" name="contentType" value="videoFile" checked>
          Video from local machine
        </label>
      </div>
      <div class="form-group">
        <button class="px-3 btn btn-sm btn-primary btn-next" data-step='2' id="step-one-button">next</button>
      </div>
    </section>

    <section id="step-two" class="d-none">
      <div class="mb-3 form-group d-none" id="textContent-group">
        <label for="textContent" class="form-label">Input text content</label>
        <textarea name="textContent" id="textContent" cols="30" rows="5" class="form-control"
          placeholder="Enter the text content here"></textarea>
      </div>
      {{!-- image url --}}
      <div class="mb-3 form-group d-none" id="imageUrl-group">
        <label for="imageUrl" class="form-label">Enter image url</label>
        <input type="url" class="form-control" name="imageUrl" id="imageUrl" placeholder="Image url">
      </div>

      {{!-- image file --}}
      <div class="mb-3 form-group d-none" id="imageFileSrc-group">
        <label for="imageFileSrc" class="form-label">Select image from your computer</label>
        <input type="file" class="form-control form-file" name="imageFileSrc" id="imageFileSrc">
      </div>

      {{!-- video url --}}
      <div class="mb-3 form-group d-none" id="videoUrl-group">
        <label for="videoUrl" class="form-label">Enter video url</label>
        <input type="url" class="form-control" name="videoUrl" id="videoUrl" placeholder="Video url">
      </div>

      {{!-- video file --}}
      <div class="mb-3 form-group d-none" id="videoFileSrc-group">
        <label for="videoFileSrc" class="form-label">Select video from your computer</label>
        <input type="file" class="form-control form-file" name="videoFileSrc" id="videoFileSrc">
      </div>

      <div class="step-buttons">
        <button class="px-3 btn btn-sm btn-secondary btn-prev" data-step='1'>prev</button>
        <button type="submit" class="px-3 btn btn-sm btn-primary">submit</button>
      </div>
    </section>
  </form>
</div>