<header class="d-flex align-items-center justify-content-between">
  <h3>Smil message preview</h3>
  <button onclick="window.history.back()"  class="btn btn-sm btn-primary">back</button>
</header>

<div class="rounded card bg-light">
  <div class="card-body">
    <code>
      <pre>
      {{ data }}
      </pre>
    </code>
  </div>
</div>
