<header class="d-flex align-items-center justify-content-between">
  <h3>Smil message preview</h3>
  <a href="/play" class="btn btn-sm btn-primary">play</a>
</header>

<div class="rounded card bg-light">
  <div class="card-body">
    <code>
      <pre>
      {{ data }}
      </pre>
    </code>
  </div>
</div>